* {
  color: #fff;
}

#first {
  background-color: blue;

}
.second {
  background-color: green;

}

body {
  background-color: gray; 
}

span {
  background-color: red;
}

/* 마우스를 올리는 동안 */
a:hover {
  color:#fff;
  background-color: #000;
}
/* 마우스를 클릭하는 동안 */
a:active {
  color:reds
}
/* focus / 포커스가 있는동안 */
input:focus {
    background-color: gray;
}
